<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
	<h2>Add a new friend</h2>
	<form method='post' name='add-friend' action='/friends'>
		<label>First Name:</label>
		<input type="text" name="first-name" placeholder="Vanilla">
		<label>Last Name:</label>
		<input type="text" name="last-name" placeholder="Ice">
		<label>Email:</label>
		<input type="text" name="email" placeholder="robertvanwinkle@vanillaice.com">
		<input class="button button-primary" type="submit" name="submit-add-friend">
	</form>
	<h2>These are all my friends!</h2>
	{% for friend in friends %}
		<div class='friend'>
			<p>{{ friend.first_name }}</p>
			<p>{{ friend.last_name }}</p>
			<p>{{ friend.email }}</p>
		</div>
	{% endfor %}
	</body>
</html>