<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
	<h1>These are all my friends!</h1>
	{% for friend in friends %}
		<div class='friend'>
			<p>{{ friend.first_name }}</p>
			<p>{{ friend.last_name }}</p>
			<p>{{ friend.email }}</p>
		</div>
	{% endfor %}
	</body>
</html>