.friend {
	display: block;
	width: 20%;
}

.friend p {
	display: inline-block;
	width: 30%;
}

form {
	width: 40%;
}

	form input, label {
		display: inline-block;
	}

		form label {
			width: 39%;
		}

		form input {
			width: 60%;
		}