.friend {
	display: block;
	width: 80%;
}
	.friend p {
		display: inline-block;
		width: 24%;
	}

	.friend .button {
		display: inline-block;
		width: 13%;
		font-size: .5rem;
	}

form {
	width: 40%;
}

	form input, label {
		display: inline-block;
	}

		form label {
			width: 39%;
		}

		form input {
			width: 60%;
		}

		form .button {
			width: 49.5%;
		}

		form[name='delete-friend'] .button {
			width: 100%;
		}

.error {
	color: red;
}