<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name="description" content="This is info about ninjas!">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
	</head>
	<body>
		<h1>Ninjas are cool!</h1>
		<ul>
			<li><a href="/">Home</a></li>
		</ul>
		<h2>Ninjas: the silent killers.</h2>
		<p>Ninjas kill people silently. That's why some fake websites call them "the silent killers". Ninjas are also a cultural icon, but they're rarely relevant anymore in modern life unless you have an active imagination or work in Hollywood. Why is this page about ninjas? Because <a href="/dojos/new">dojos</a>.</p>
	</body>
</html>