<!DOCTYPE html>
<html>
	<head>
		<title>Dice Roller!</title>
	</head>
	<body>
		<form name="dice-roller" method="post" action="/rolldice">
			<label>
			Number of dice <input type="number" name="num-dice">
			</label>
			<label>
			Number of Sides:
				<select name="num-sides">
					<option value= 4>4</option>
					<option value= 6>6</option>
					<option value= 8>8</option>
					<option value= 10>10</option>
					<option value= 12>12</option>
					<option value= 20>20</option>
				</select>
			</label>
			<input type="submit" name="submit">
		</form>
		{% if result|length > 0 %}
			<table>
				<thead>
					<tr>
						<th>Die #</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		{% endif %}
	</body>
</html>