<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<h1>Hello {{ user[0]['first_name'] }} {{ user[0]['last_name'] }}... looks like you're in!</h1>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<h4 class="green">{{ message }}</h4>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<a class="button" href="/">Back</a>
		<form method='post' action='/users/{{session["user_id"]}}/delete' name='delete-user'>
			<input type="submit" name="submit-delete-user" value="Delete Account">
		</form>
	</body>
</html>